In [1]:
Anoconda, ipython notebook, Jupyter.

In [17]:
# object: name, type, id, object name cannot start with numbers 
    # object can have single value or multiple values.

In [5]:
num = 100

In [6]:
type(num), id(num)

(int, 140571140173376)

In [9]:
n1 = "John"

In [11]:
type(n1), id(n1)

(str, 4406136288)

In [12]:
n2 = "John"

In [13]:
type(n2), id(n2)

(str, 4406136288)

In [15]:
x = 100
y = 100
id(x), id(y)# because values are the same, ids are the same

(140571140173376, 140571140173376)

In [21]:
# Numbers & Booleans

In [24]:
n1 = 100

In [25]:
type(n1)

int

In [30]:
n1 = 9999999999999999

In [31]:
type(n1)

int

In [37]:
f = 100.5

In [38]:
type(f)

float

In [40]:
x = 100
y = 10.5

In [41]:
x, y

(100, 10.5)

In [42]:
z = x + y

In [43]:
z

110.5

In [44]:
type(z)

float

In [45]:
min(10, 20, 30)

10

In [46]:
max(10, 20, 30)

30

In [47]:
abs(-100)

100

In [48]:
import math

In [49]:
x = 100

In [50]:
math.sqrt(x)

10.0

In [51]:
math.factorial(5)

120

In [52]:
1 * 2 * 3 * 4 * 5

120

In [58]:
# complex numbers ???

In [59]:
c = complex(10 + 20j)

In [60]:
type(c), c

(complex, (10+20j))

In [61]:
c.real, c.imag

(10.0, 20.0)

In [62]:
# bolean object

In [66]:
x = True

In [67]:
x, type(x)

(True, bool)

In [69]:
x = true

NameError: name 'true' is not defined

In [71]:
y = False

In [72]:
y, type(y)

(False, bool)

In [73]:
x1 = 10 > 2

In [74]:
x1, type(x1)

(True, bool)

In [75]:
y1 = 1 > 10

In [76]:
y1, type(y1)

(False, bool)

In [77]:
# strings

In [78]:
s = "Hello"

In [79]:
p = "I love 'Python'"

In [80]:
print(p)

I love 'Python'

In [83]:
p = "I love \"Python\"" # escape in Python

In [84]:
print(p)

I love "Python"

In [85]:
print("c:\some\name") # \n new line character

c:\some
ame

In [87]:
print(r"c:\some\name") # raw string r

c:\some\name

In [90]:
s = """Python

is 

a nice             language

to work"""

In [92]:
print(s)

Python

is

a nice             language

to work

In [95]:
s1 = "Hello"
s2 = " World"

In [99]:
s1 + s2 # concat strings

'Hello World'

In [100]:
s = s1 + s2

In [101]:
s

'Hello World'

In [ ]:
# repetition operator

In [102]:
'A' * 10

'AAAAAAAAAA'

In [103]:
h = "Hello " * 100

In [104]:
h

'Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello '

In [114]:
# container objects: tuple, list, set, disctionary

In [115]:
t = (1, 2, 3, 4)

In [116]:
t

(1, 2, 3, 4)

In [117]:
type(t)

tuple

In [118]:
x = [10, 20, 30, 'John']

In [119]:
type(x)

list

In [120]:
s = {10, 20, 30, 40}

In [121]:
s

{10, 20, 30, 40}

In [122]:
type(s)

set

In [123]:
s = {"John":98, "Kris":95, "Gary":99}

In [124]:
s

{'Gary': 99, 'John': 98, 'Kris': 95}

In [125]:
type(s)

dict

In [126]:
# mutability of objects: mutable: list & dict, immutable: tuples, sets...

In [127]:
L = [1, 2, 10.5, "Tom"]

In [128]:
id(L)

4412706544

In [129]:
L.append(100)

In [130]:
L

[1, 2, 10.5, 'Tom', 100]

In [131]:
L[1] = 200

In [132]:
L

[1, 200, 10.5, 'Tom', 100]

In [133]:
id(L) # no change in the id()

4412706544

In [134]:
t = (1, 2, 3, 4)

In [135]:
t

(1, 2, 3, 4)

In [138]:
id(t), type(t)

(4412711344, tuple)

In [137]:
t.append(5) # tuples are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [139]:
n = 100

In [140]:
id(n)

140571140173376

In [141]:
n = 200

In [142]:
id(n)

140571140176904

In [143]:
s = "John"

In [144]:
id(s)

4406136288

In [145]:
s = "Kris" # different id means string is immutable
id(s)

4406044688

In [146]:
# Arithmetic operators: + - * / ** // %

In [147]:
2 ** 3

8

In [148]:
2 * 2 * 2

8

In [149]:
x = 10 
y = 3
x ** y

1000

In [152]:
10 /3

3

In [151]:
10 //3

3

In [154]:
25 / 4
25//4 # same here...

6

In [155]:
10 % 3

1

In [156]:
25 % 7

4

In [157]:
# bitwise operators: << >> & | ^ ~

In [158]:
x = 10

In [159]:
x << 1

20

In [160]:
# 1010 --> 10100 = 16 + 0 + 4 + 0 + 0

In [161]:
x << 2

40

In [162]:
x

10

In [163]:
# comparison operators: < > <= >= == != is in

In [164]:
x = 10
y = 20

In [165]:
x < y

True

In [166]:
xx = 10.0

In [167]:
x, xx

(10, 10.0)

In [168]:
x == xx

True

In [169]:
x is xx

False

In [173]:
x, id(x), xx, id(xx) # different for these two objects

(10, 140571140171584, 10.0, 140571141735648)

In [174]:
y = 10

In [176]:
x, id(x), type(x), y, id(y), type(y) # same for these two objects

(10, 140571140171584, int, 10, 140571140171584, int)

In [177]:
x is y

True

In [178]:
A = [10, 20, 30, 40] # list object

In [179]:
10 in A # in used for containder mostly

True

In [180]:
50 in A

False

In [181]:
s = "Hello world"

In [182]:
'e' in s

True

In [183]:
"k" in s

False

In [184]:
"Hello" in s

True

In [185]:
# assignment operators

In [186]:
x = 10

In [187]:
x = x + 5

In [188]:
x

15

In [189]:
x += 5

In [190]:
x

20

In [191]:
x -= 5

In [192]:
x

15

In [193]:
x *= 2

In [194]:
x

30

In [195]:
x /= 3

In [196]:
x

10

In [197]:
x **= 2

In [198]:
x

100

In [199]:
x //= 7

In [200]:
x

14

In [201]:
x <<= 1

In [202]:
x

28

In [203]:
x >>= 1

In [204]:
x

14

In [205]:
# operator precedence

In [206]:
10 - 4 * 2

2

In [207]:
5 * 2 // 3

3

In [208]:
2 ** 3 ** 2

512

In [209]:
2 ** 9

512