In [1]:
# Q1. Write a for loop to print numbers 1 through 100 in ten rows.

In [77]:
x = range(1,101)
x

for i in x:
    if i % 10 ==0:
        print(i)
    else:
        print(i),

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [78]:
# Q2. Write a for loop to print first 100 even numbers. 
# Make sure the output is in 10 rows and format the output 
# so that all columns align perfectly.

In [127]:
x = range(2,201,2)
x
len(x)

for i in x:
    if i == 0:
        print(i),
        print("\t"),
    elif i % 20 == 0:
        print(i)
    else:
        print(i),
        print("\t"),

2 	4 	6 	8 	10 	12 	14 	16 	18 	20
22 	24 	26 	28 	30 	32 	34 	36 	38 	40
42 	44 	46 	48 	50 	52 	54 	56 	58 	60
62 	64 	66 	68 	70 	72 	74 	76 	78 	80
82 	84 	86 	88 	90 	92 	94 	96 	98 	100
102 	104 	106 	108 	110 	112 	114 	116 	118 	120
122 	124 	126 	128 	130 	132 	134 	136 	138 	140
142 	144 	146 	148 	150 	152 	154 	156 	158 	160
162 	164 	166 	168 	170 	172 	174 	176 	178 	180
182 	184 	186 	188 	190 	192 	194 	196 	198 	200

In [ ]:
# Q3. Write a function isPrime(n), that returns a True if n is a prime number, if not False.

In [168]:
def isPrime(n):
    if n == 1:
        return False
    else:
        for i in range(2, n):
            if n % i ==0:
                return False
        else:
            return True # indentation matters

In [171]:
isPrime(7)

True

In [170]:
isPrime(215)

False

In [15]:
# Q4 Write a for loop to print Prime numbers between 1 and 1000. 
# Format the output so that all columns align perfectly.

In [190]:
for n in range(1, 1000):
    if n > 1:
        for i in range(2, n):
            if (n % i == 0):
                break
        else: # note how "else" is indented... 
            print(n),
            print("\t"), # why 2 is not aligned?

2 	3 	5 	7 	11 	13 	17 	19 	23 	29 	31 	37 	41 	43 	47 	53 	59 	61 	67 	71 	73 	79 	83 	89 	97 	101 	103 	107 	109 	113 	127 	131 	137 	139 	149 	151 	157 	163 	167 	173 	179 	181 	191 	193 	197 	199 	211 	223 	227 	229 	233 	239 	241 	251 	257 	263 	269 	271 	277 	281 	283 	293 	307 	311 	313 	317 	331 	337 	347 	349 	353 	359 	367 	373 	379 	383 	389 	397 	401 	409 	419 	421 	431 	433 	439 	443 	449 	457 	461 	463 	467 	479 	487 	491 	499 	503 	509 	521 	523 	541 	547 	557 	563 	569 	571 	577 	587 	593 	599 	601 	607 	613 	617 	619 	631 	641 	643 	647 	653 	659 	661 	673 	677 	683 	691 	701 	709 	719 	727 	733 	739 	743 	751 	757 	761 	769 	773 	787 	797 	809 	811 	821 	823 	827 	829 	839 	853 	857 	859 	863 	877 	881 	883 	887 	907 	911 	919 	929 	937 	941 	947 	953 	967 	971 	977 	983 	991 	997

In [60]:
#Q5 Write a function to convert temperature in celsius to fahrenheit

In [65]:
def cel2fah(celsius):
    fahrenheit = (celsius * 1.8) + 32
    return fahrenheit

In [66]:
cel2fah(0)

32.0

In [67]:
cel2fah(20)

68.0

In [68]:
# Q6. Write a function to convert temperature in fahrenheit to celsius ( Q5 Reverse )

In [70]:
def fah2cel(fahrenheit):
    celsius = (fahrenheit - 32)/1.8
    return celsius

In [71]:
fah2cel(68)

20.0

In [72]:
fah2cel(32)

0.0

In [73]:
fah2cel(212)

100.0

In [74]:
#Q7. Convert the following list of Kilometers to miles.

In [80]:
x = [ 10, 20, 30, 40, 50 ]
for i in x:
    print(i),
    print("kilometer is equal to"),
    print(i*0.621371),
    print("miles")

10 kilometer is equal to 6.21371 miles
20 kilometer is equal to 12.42742 miles
30 kilometer is equal to 18.64113 miles
40 kilometer is equal to 24.85484 miles
50 kilometer is equal to 31.06855 miles

In [81]:
# Q8. Write factorial function fact(n) without using recurrsion.

In [88]:
import math

def fact(n):
    val = math.factorial(n)
    return val

In [89]:
fact(5)

120

In [90]:
fact(10)

3628800

In [91]:
1*2*3*4*5*6*7*8*9*10

3628800

In [92]:
# Q9. Write a factorial function factR(n) using recurrsion.

In [193]:
def factR(n):
    if(n < 1):
        return
    if(n == 1):
        return 1
    else:
        return n * factR(n - 1) # why these if must be here

In [194]:
factR(5)

120

In [ ]:
# Q10. Write a function toBinary(n) to convert 
# a decimal number into binary number using recurrsion.

In [124]:
def toBiniary(n):
    if n > 1:
        toBiniary(n/2)
    print(n % 2), # don't understand exactly

In [128]:
toBiniary(10)

1 0 1 0

In [129]:
toBiniary(1234)

1 0 0 1 1 0 1 0 0 1 0

In [130]:
# Q11. Write your own mymap() function which works exactly like Python's built-in function map().

In [206]:
# map(fn, x) executes "fn" function on each item of the container object and produces a new container object 
# eg 
C = range(1, 11)
fn = lambda x: x * 2 
map(fn, C) 

def mymap(fn, C):
    newC = [] # empty tuple 
    for x in C:
        newC.append(fn(x))
    return newC

In [207]:
 A=[1,2,3,4]
mymap(lambda x:x+2, A)

[3, 4, 5, 6]

In [ ]:
# Q12. Write your own myreduce() function which works exactly like Python's built-in function reduce().

In [247]:
def myreduce(fn, C):
    newC = 0 # don't think this is correct... 
    for x in C:
        newC = fn(newC, x)
    return newC

In [248]:
A=[1,2,33,22,11,5]
myreduce(lambda x,y: x if x>y else y, A)

33

In [249]:
A=[10,2,33,22,11,5] 
myreduce(lambda x,y:x+y, A)

83

In [250]:
A=[1,2,33,22,11,5]
myreduce(lambda x,y: x if x<y else y, A) # this will be a problem!!!

0

In [ ]:
# Q13. Write your own myfilter() function which works exactly like Python's built-in function filter().

In [266]:
def myfilter(fn, C):
    newC = []  
    for x in C:
        if fn(x): # I see, if fn(x) ==1, add x to the list of newC
            newC.append(x)
    return newC

In [267]:
A=[10,2,33,22,11,5]
myfilter(lambda x: x%2==0, A)

[10, 2, 22]

In [269]:
A=[10,2,33,22,11,5] 
myfilter(lambda x: x>10, A)

[33, 22, 11]

In [270]:
# Q14. Write list comprehensions to produce the following three simple lists

In [273]:
[x for x in range(11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [274]:
[x for x in range(1, 20, 2)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [275]:
[x for x in range(1, 50, 5)]

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46]

In [276]:
# Q15. Write List comprehensions to produce the following Lists

In [282]:
[c for c in "python"]

['p', 'y', 't', 'h', 'o', 'n']

In [284]:
[c*i for c in "xyz" for i in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [289]:
[i*j*k for i in range(1,3) for j in range(1,3) for k in "xyz"]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xx', 'yy', 'zz', 'xxxx', 'yyyy', 'zzzz']

In [295]:
[c+i for c in range(2,5) for i in range(0,3)]

[2, 3, 4, 3, 4, 5, 4, 5, 6]

In [300]:
[[c+i for c in range(2,6)] for i in range(0,4)] # wow!!!

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [312]:
[(x, y) for y in range(1, 4) for x in range(1, 4)]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [1]:
# Q16. Write Dictionary comprehensions to produce the following Dictionaries:

In [3]:
{x:x**3 for x in range(1,10)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [22]:
s="abcdef"
{ x:x*(s.index(x)+1) for x in s } # This can not be created using the similar method as list

{'a': 'a', 'b': 'bb', 'c': 'ccc', 'd': 'dddd', 'e': 'eeeee', 'f': 'ffffff'}

In [23]:
# Q17. Write a function longestWord() that takes a list of words and returns the longest one.

In [97]:
def longestWord(L):
    longest = ""
    for i in L:
        if len(i) > len(longest):
            longest = i
    print(longest)

In [98]:
longestWord(["Apple", "Apicot", "Asparagus", "Avocado"])

Asparagus

In [113]:
import functools

def longestWord_2(L):
    fn = lambda x,y: x if len(x)>len(y) else y
    longest = functools.reduce(fn, L)
    print(longest)

In [114]:
longestWord_2(["Apple", "Apicot", "Asparagus", "Avocado"])

Asparagus

In [117]:
# Q18. A palindrome is a word, phrase, number, or other sequence of characters which
# reads the same backward or forward. Allowances may be made for adjustments to capital letters,
# punctuation, and word dividers.

In [139]:
def is_palindrom(s):

    # the number of char in s.
    n = len(s)
    print(s),
    print(":"),
    # compare the first half of s to the reverse of the second half of s
    # omit the middle character of an odd-length string. 
    if s[:n//2] == reverse(s[n - n//2:]):
        print("is a Palindrome")

def reverse(s):
        # Return a reversed version of s.
        rev = ''
        # for each character in s, add that chca to the begining of rev.
        for ch in s:
                rev = ch + rev # pay attention to this!!! 

        return rev

In [140]:
is_palindrom("kayak")

kayak : is a Palindrome

In [147]:
is_palindrom("civic")

civic : is a Palindrome

In [148]:
# 19. A pangram is a sentence that contains all the letters of the English alphabetat 
# least once. example: "The quick brown fox jumps over the lazy dog".
# Write a function to check if a sentence is a pangram or not.

In [238]:
def isPangram(C):
    C2 = C.lower()

    if len(set(C2)) >= 26: 
        print("Yes, it is a Pangram sentence")

In [239]:
c = "The quick brown fox jumps over the lazy dog"

In [240]:
isPangram(c)

Yes, it is a Pangram sentence

In [244]:
# 20. Write a function charFreq() that takes a string and creates 
# a frequency listing of the characters contained in it using a dictionary object.

In [14]:
import collections

def charFreq(C):
    letters = collections.Counter(C)
    print(dict(letters))

In [15]:
charFreq("letters")

{'s': 1, 'r': 1, 'e': 2, 'l': 1, 't': 2}

In [16]:
# 21. Using random module, generate 10,000 numbers between 1 and 5. Find the number for 
# which largest numbers generated. Also create a dictionary with key-values where value > 2000, 
# using dictionary comprehensions.

In [19]:
from random import randint
import random
random.seed(1)
tmp=[randint(1,5) for p in range(0,10000)]
len(tmp)
charFreq(tmp)

{1: 2058, 2: 1983, 3: 1980, 4: 1959, 5: 2020}